<div class="container" style="background-color: #e4eefb;">
    <h1 class="mb-3 mt-3 mx-2">Edit Client</h1>
  
    <form class="row g-3" #form="ngForm">
      <div class="col-md-5">
        <label for="Id" class="form-label mt-5">Id</label>
        <input type="text" class="form-control" id="id" readonly name="id" [(ngModel)]="addClientDetails.Id">
      </div>
      <div class="col-md-5">
        <label for="FName" class="form-label mt-5">First Name</label>
        <input type="text" class="form-control" id="FName" name="fname" [(ngModel)]="addClientDetails.FName">
      </div>
      <div class="col-md-5">
        <label for="LName" class="form-label mt-5">Last Name</label>
        <input type="text" class="form-control" id="LName" name="lname" [(ngModel)]="addClientDetails.LName">
      </div>
      <div class="col-md-5">
        <label for="Contact" class="form-label">Contact</label>
        <input type="number" class="form-control" id="Contact" name="contact" [(ngModel)]="addClientDetails.Contact">
      </div>
      <div class="col-md-5">
        <label for="Working" class="form-label">Working</label>
        <div class="input-group mb-3">
          <label class="input-group-text" for="Working">IsWorking</label>
          <select class="form-select" id="Working" name="isWorking" [(ngModel)]="addClientDetails.Working">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>
      </div>
      <div class="col-7 mb-5 ms-auto">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
  